#footer(style='margin-top: 50px; padding-top: 20px; padding-bottom: 30px;')
  .container
    .col-md-3
      p
        a(href='/') Home
      p
        a(href='http://projects.spring.io/spring-boot/') Spring Boot
    .col-md-3
      p
        a(href='https://github.com/domix/spring-boot-starter-jade4j', target='_blank').fa.fa-github  Spring Boot jade4j Starter
      p
        a(href='https://github.com/domix/spring-boot-starter-jade4j-showcase', target='_blank').fa.fa-github  Showcase
    .col-md-6
      span.pull-right #{util.message('copyright')}
