!!! 5
html
  head
    include head
    block head
  body
    include main_navbar
    .container
      .page-header
        .clearfix
          block page_title
      br
      .clearfix
        .container
          block body

    include footer