include detail/detail.jade
html
  head
    title Hola mundo
    link(rel='stylesheet', type='text/css', href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/webjars/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
  body
    h
    h1
    header
      #{util.format(4)}

