extends ./layout/layout

block page_title
  .col-md-12.col-sm-6.col-xs-12
    h1 #{util.message('title')}
      small #{util.message('subtitle')}

block body
  include ./detail/detail.jade
  each property in properties
    +property_detail(property)
